{% extends "base.html.twig" %}

{% block title %}Yay, {{ website }} is up.{% endblock %}

{% block body %}
    {{ include('tags/twitter-share-button.html.twig', { text: 'Yay, %s is up.' | format(website) }) }}

    <div id="container">
        <p><a href="https://{{ website }}" class="domain" rel="nofollow">{{ website }}</a> is up 🎉</p>

        <p class="smaller">It took {{ status.totalTime | number_format(3) }} seconds to get a {{ status.statusCode }} status code from an IP address of {{ status.ipAddress }}.</p>
    </div>
{% endblock %}
